<button aria-haspopup="true" aria-expanded="false">
  Settings
  <span aria-hidden="true">&#x25be;</span>
</button>
<!-- role="menuitemradio": https://w3c.github.io/aria/#menuitemradio -->
<div role="menu" class="settings-menu">
  <div role="group">
    <fieldset>
      <legend>Choose your font-face:</legend>
      <input type="radio" id="fontSans" name="fontFace" role="menuitemradio" checked>
      <label for="fontSans">Sans-Serif</label>
      <input type="radio" id="fontSerif" name="fontFace" role="menuitemradio">
      <label for="fontSerif">Serif</label>
    </fieldset>
  </div>
  <form role="group" oninput="fontSizeResult.value=parseInt(fontSize.value)">
    <fieldset>
      <legend>Choose your font-size:</legend>
      <input type="range" id="fontSize" name="fontSize" min="1" max="15" value="5">
      <label for="fontSize" class="sr-only">Font Size</label>
      <output name="fontSizeResult" for="fontSize">5</output>
    </fieldset>
  </form>
  <form role="group" oninput="contentWidthResult.value=parseInt(contentWidth.value)">
    <fieldset>
      <legend>Choose your content width:</legend>
      <input type="range" id="contentWidth" name="contentWidth" min="1" max="9" value="5">
      <label for="contentWidth" class="sr-only">Content Width</label>
      <output name="contentWidthResult" for="contentWidth">5</output>
    </fieldset>
  </form>
  <form role="group" oninput="lineHeightResult.value=parseInt(lineHeight.value)">
    <fieldset>
      <legend>Choose your line-height:</legend>
      <input type="range" id="lineHeight" name="lineHeight" min="1" max="9" value="5">
      <label for="lineHeight" class="sr-only">Line Height</label>
      <output name="lineHeightResult" for="lineHeight">5</output>
    </fieldset>
  </form>
  <div role="group">
    <fieldset>
      <legend>Choose your theme:</legend>
      <input type="radio" id="themeLight" name="theme" role="menuitemradio" checked>
      <label for="themeLight">Light</label>
      <input type="radio" id="themeDark" name="theme" role="menuitemradio">
      <label for="themeDark">Dark</label>
      <input type="radio" id="themeSepia" name="theme" role="menuitemradio">
      <label for="themeSepia">Sepia</label>
    </fieldset>
  </div>
</div>