<button aria-haspopup="true" aria-expanded="false" class="settings-menu-trigger js-settings-menu-trigger">
  Settings
  <span aria-hidden="true">&bigtriangledown;</span> 
</button>

<!-- role="menuitemradio": https://w3c.github.io/aria/#menuitemradio -->
<div role="menu" class="settings-menu js-settings-menu" aria-label="customize your settings" hidden>

  <div role="group" data-setting="font">
    <fieldset>
      <legend>Typeface:</legend>
      <input type="radio" id="fontSans" data-option="sans-serif" name="typeface" role="menuitemradio" checked>
      <label for="fontSans">Sans-Serif</label>
      <input type="radio" id="fontSerif" data-option="serif" name="typeface" role="menuitemradio">
      <label for="fontSerif">Serif</label>
    </fieldset>
  </div>

  <div role="group" data-setting="font-size">
    <label for="fontSize">Font-size:</label>
    <input type="range" id="fontSize" name="font-size" min="1" max="9" value="5" aria-valuetext="font size: 5">
  </div>

  <div role="group" data-setting="content-width">
    <label for="contentWidth">Width:</label>
    <input type="range" id="contentWidth" name="content-width" min="1" max="9" value="5" aria-valuetext="content container width: 5">
  </div>
  
  <div role="group" data-setting="line-height">
    <label for="lineHeight">Line-height:</label>
    <input type="range" id="lineHeight" name="line-height" min="1" max="9" value="5" aria-valuetext="line height: 5">
  </div>

  <div role="group" data-setting="theme">
    <fieldset>
      <legend>Theme:</legend>
      <input type="radio" id="themeLight" data-option="light" name="theme" role="menuitemradio" checked>
      <label for="themeLight">Light</label>
      <input type="radio" id="themeDark" data-option="dark" name="theme" role="menuitemradio">
      <label for="themeDark">Dark</label>
    </fieldset>
  </div>
</div>