.post {
  .post-header {
    font-size: calc(var(--font-size) * 2);
    font-weight: bold;
    margin-bottom: 2em;
  }

  .post-body {
    * {
      margin-bottom: 1.25em;
    }

    h2 {
      font-size: calc(var(--font-size) * 1.5);
      margin-bottom: .75em;
      margin-top: 3em;
    }

    h3 {
      font-size: calc(var(--font-size) * 1.25);
      margin-bottom: .25em;
    }

    > img {
      border-radius: var(--base-border-radius);
      display: block;
      margin: 2em auto;
    }

    blockquote {
      background-color: hsla(0, 0, 95, 0.7);
      border-radius: var(--base-border-radius);
      font-size: calc(var(--font-family) * 1.25);
      padding: 1em;

      *:last-child {
        margin-bottom: 0;
      }
    }
  }

  .post-meta {
    border-top: 1px solid hsla(0, 0%, 65%, 1);
    font-size: calc(var(--font-size) * .75);
    margin-top: 3em;
    padding: 1em 0;
    color: hsla(0, 0%, 65%, 1);

    .meta-tags ul,
    .meta-tags li {
      display: inline;
    }

    .meta-related ul,
    .meta-related li {
      display: inline;
    }

    .meta-tags li:not(:last-child)::after,
    .meta-related li:not(:last-child)::after {
      content: ',';
    }
  }
}
