nav.global {
  color: var(--nav-ink);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 5ch;
  padding: 1ch 2ch;
  max-width: 60ch;
  position: relative;

  ul {
    display: flex;
    align-items: center;
  }

  li:not(:last-child) {
    margin-right: 1ch;

    &::after {
      content: '/';
      margin-left: 1ch;
    }
  }

  a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &.current {
      color: var(--nav-ink-hover);
      text-decoration: underline;
      text-underline-offset: .25rem;
      text-decoration-thickness: .125rem;
    }
  }
}