.settings-menu-trigger {
  background-color: var(--menu-btn-fill);
  border: 0;
  border-radius: var(--base-border-radius);
  color: var(--menu-btn-ink);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--menu-font-size);
  margin-left: 2rem;
  padding: .75rem 2rem;
  
  &:hover {
    background-color: var(--menu-btn-fill-hover);
  }

  &:active,
  &[aria-expanded="true"] {
    background-color: var(--menu-btn-fill-active);
  }
}

.settings-menu {
  background-color: var(--menu-fill);
  border: 1px solid var(--menu-border-ink);
  border-radius: var(--base-border-radius);
  color: var(--menu-ink);
  font-size: var(--menu-font-size);
  padding: 2ch;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5ch;
  right: 3ch;

  fieldset {
    border: 1px solid hsla(0, 0%, 65%, 1);
    margin: 1ch 0;
  }

  legend,
  label {
    font-size: calc(var(--font-size) * .75);
  }

  div[role="group"] {
    display: flex;
    flex-direction: column;
  }
}