.settings-menu-trigger {
  background-color: var(--brand);
  border: 0;
  border-radius: var(--base-border-radius);
  color: var(--white);
  cursor: pointer;
  font-family: inherit;
  font-size: var(--font-size);
  margin-left: 2rem;
  padding: .75rem 2rem;
  
  &:hover {
    background-color: darken(tan, 10);
  }

  &:active,
  &[aria-expanded="true"] {
    background-color: darken(tan, 20);
  }
}

.settings-menu {
  position: absolute;
  top: 5ch;
  right: 3ch;
  // border: 1px solid black;
  border-radius: var(--base-border-radius);
  padding: 2ch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);

  fieldset {
    border: 1px solid hsla(0, 0%, 65%, 1);
    margin: 1ch 0;
  }

  legend,
  label {
    font-size: calc(var(--font-size) * .75);
  }

  div[role="group"] {
    display: flex;
    flex-direction: column;
  }
}