// Contains global styles, such as resets, typography, colors, etc.

@import 'reset';

:root {
  --mono: 'Menlo','Consolas','Monaco','liberation mono','lucida console',monospace;
  --sans: -apple-system,'BlinkMacSystemFont','segoe ui','Roboto','Helvetica','Arial',sans-serif,'apple color emoji','segoe ui emoji','segoe ui symbol';
  --serif: 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman', 'Droid Serif', 'Times', 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --black: hsl(0, 20, 20);
  --white: white;
  --brand: tan;
  --link-color: dodgerblue;
  --base-border-radius: 4px;

  --body-fill: var(--white);
  --body-ink: var(--black);

  --font-family: var(--sans);
  --font-size: 1rem;
  --line-height: 1.5;
  --content-width: 40em;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

html,
body {
  background-color: var(--body-fill);
  color: var(--body-ink);
}

[hidden] {
  display: none !important;
}

code, pre {
  font-family: var(--mono);
}

// kbd {
//   font-size: calc(var(--font-size * .75));
//   padding: 0.0625rem 0.5rem;
//   border-radius: 0.125rem;
//   border: 2px solid;
//   box-shadow: 1px 1px 0 currentColor, 2px 2px 0 currentColor;
// }

main {
  font-size: var(--font-size);
  line-height: var(--line-height);
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 1em 1em;

  a {
    color: var(--link-color);
  }

  h2 {
    font-size: calc(var(--font-size) * 2);
    font-weight: bold;
    margin-bottom: 2em;
  }

  h3 {
    font-size: calc(var(--font-size) * 1.5);
    font-weight: bold;
    margin-bottom: .5em;
  }
}

body[data-font="serif"] {
  font-family: var(--serif);
}

body[data-font="sans-serif"] {
  font-family: var(--sans);
}

body[data-theme="light"] {
  --gray: hsl(20deg 11% 84%);
  --black: hsl(30deg 5% 15%);
  --tan: hsl(29deg 13% 61%);
  --tan-50: hsl(29deg 13% 51%);
  --tan-40: hsl(29deg 13% 41%);

  --body-fill: var(--gray);
  --body-ink: var(--black);
  --menu-fill: var(--tan);
  --menu-fill-hover: var(--tan-50);
  --menu-fill-active: var(--tan-40);
  --menu-ink: var(--black);
  --nav-ink: var(--tan);
  --nav-ink-hover: var(--black);
}

body[data-theme="dark"] {
  --tan: hsl(34deg 52% 66%);
  --tan-50: hsl(34deg 52% 56%);
  --tan-40: hsl(34deg 52% 46%);
  --white: hsl(0deg 0% 100%);
  --gray: hsl(0deg 0% 65%);
  --black: hsl(30deg 14% 9%);

  --body-fill: var(--black);
  --body-ink: var(--gray);
  --menu-fill: var(--tan);
  --menu-fill-hover: var(--tan-50);
  --menu-fill-active: var(--tan-40);
  --menu-ink: var(--white);
  --nav-ink: var(--tan);
  --nav-ink-hover: var(--white);
}